html body {
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	background-color: #f1f1f1;
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

a:hover{
  text-decoration: none;
  color:white;
}

a:link, a:visited{
	color: #000;
}

header {
	background-color: #f1f1f1;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

li {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

li:before {
    content: "-";
    display: block;
    float: left;
    width: 1.2em;
}

/*-------------CLASSES----------------*/
.intro-text{
	padding-top: 8px;
	padding-bottom: 8px;
	color: #0a0a0a;
	font-weight: bold;
}

.sub-text{
	padding-top: 8px;
	padding-bottom: 8px;
	color: #0a0a0a;
	font-weight: bold;
    font-size:20px;
}

.about-sub-text{
	padding-top: 8px;
	padding-bottom: 8px;
	color: #0a0a0a;
    font-size:16px;
}

.col-sm-3{
	padding-top:5em;
	padding-bottom: 5em;
}

.border-box {
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.07);
	box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.07);
}


/*-------------ID's----------------*/

#about{
 	width:800px;
 	margin:0 auto;
	top:25%;
	color:#fff; 
	text-align: left;
	font-family: HelveticaNeue-Light;
	font-size: 50px;
	position: relative;
	transform: translateY(-25%);
}

#about-content{
 	margin:0 auto;
 	padding-top:.5em;
	color:#fff; 
	text-align: left;
	font-family: HelveticaNeue-Light;
	font-size: 25px;
	position:absolute;
	left:0;
	right:0;
}

#background-img{
	height:100vmin;
}

#home-item{
	margin-right: 20px;
	text-decoration: none;
}

#home-options{
	width:500px;
 	margin:0 auto;
 	padding-top:.5em;
 	padding-bottom: .5em;
	color:#0a0a0a; 
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 25px;
}

#item{
	margin-right: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#item-nav{
	margin-right:20px;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	color: #0a0a0a;
	font-size:17px;
}

#links{
	padding-top:1.5em;
}

#title{
	width:500px;
	margin:0 auto;
	top:45%;
	color:#fefefe; 
	font-family: "HelveticaNeue-Bold", sans-serif;
	font-size: 50px;
}

#options{
	width:500px;
 	margin:0 auto;
 	padding-top:.5em;
 	padding-bottom: .5em;
    text-align: center;
	color:#0a0a0a; 
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 25px;
}

#project-description{
	font-size:16px;
}

#project-container{
	margin-top:5em;
}

#about-links{
    color: #E12824;
	text-decoration: none;
}

#about-links a:hover{
	color: #fff;
}

#project-links{
	color: #377BFF;
}








/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.fast {
-webkit-animation-delay: 0.001s;
-moz-animation-delay: 0.001s;
animation-delay: 0.001s;
-webkit-animation-duration:0.5s;
-moz-animation-duration:0.5s;
animation-duration:0.5s;
} 


.fade-in.title {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
} 

.fade-in.one {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;
} 
.fade-in.two {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
} 

.fade-in.three {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
} 







